<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphical Interface Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            padding: 20px;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table td {
            padding: 10px;
            text-align: center;
        }

        .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .image-container a {
            text-decoration: none;
            color: #333;
        }

        .image-container img {
            width: 200px;
            height: 150px;
            border: 2px solid #333;
            border-radius: 5px;
            transition: transform 0.2s;
        }

        .image-container img:hover {
            transform: scale(1.1);
        }

        .image-name {
            margin-top: 5px;
            font-weight: bold;
        }

        mark {
            background-color: skyblue;
            color: black;
        }
    </style>
</head>
<body>
    <center><h1>Welcome to the Graphical Interface Page</h1></center>

    <div class="image-container">
        <table>
            <tr>
                <td>
                  
                    <a href="{% url 'student' %}">
                        <img src="{% static 'photos/Accounts.jpg' %}" alt="Account">

                            <p class="image-name">ACCOUNT</p>
                    </a>
                </td>
                <td>
                    <a href="{% url 'dues' %}">
                        <img src="{% static 'photos/Dues.jpg' %}" alt="Dues">
                        <p class="image-name">DUES</p>
                    </a>
                </td>
                <td>
                    <a href="{% url 'receipt' %}">
                        <img src="{% static 'photos/fees.jpg' %}" alt="Fees">
                        <p class="image-name">FEES</p>
                    </a>
                </td>
                
                <td>
                    <a href="{% url 'penalty' %}">
                        <img src="{% static 'photos/penalty.jpg' %}" alt="Penalty">
                        <p class="image-name">PENALTY</p>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'certificate' %}">
                        <img src="{% static 'photos/certificate.jpg' %}" alt="Certificate">
                        <p class="image-name">CERTIFICATE</p>
                    </a>
                </td>
                <td>
                    <a href="{% url 'examination' %}">
                        <img src="{% static 'photos/exam.jpg' %}" alt="Examination">
                        <p class="image-name">EXAMINATION</p>
                    </a>
                </td>
                <td>
                    <a href="{% url 'homework' %}">
                        <img src="{% static 'photos/homework.jpg' %}" alt="Homework">
                        <p class="image-name">HOME WORK</p>
                    </a>
                </td>
                <td>
                    <a href="{% url 'setpaper' %}">
                        <img src="{% static 'photos/paper.jpg' %}" alt="Set Paper">
                        <p class="image-name">SET PAPER</p>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'complaint' %}">
                        <img src="{% static 'photos/complaint.jpg' %}" alt="Complaints">
                        <p class="image-name">COMPLAINTS</p>
                    </a>
                </td>
                <td>
                    <a href="{% url 'gallery' %}">
                        <img src="{% static 'photos/gallery.jpg' %}" alt="Gallery">
                        <p class="image-name">GALLERY</p>
                    </a>
                </td>
                <td>
                    <a href="{% url 'smsservices' %}">
                        <img src="{% static 'photos/sms service.jpg' %}" alt="Sms service">
                        <p class="image-name">SMS SERVICE</p>
                    </a>
                </td>
                <td>
                    <a href="{% url 'timetable' %}">
                        <img src="{% static 'photos/time table.jpg' %}" alt="Time Table">
                        <p class="image-name">TIME TABLE</p>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'events' %}">
                        <img src="{% static 'photos/events.jpg' %}" alt="Events">
                        <p class="image-name">EVENTS</p>
                    </a>
                </td>
                <td>
                    <a href="{% url 'holidays' %}">
                        <img src="{% static 'photos/holiday.jpg' %}" alt="holiday">
                        <p class="image-name">HOLIDAY</p>
                    </a>
                </td>
                <td>
                    <a href="{% url 'leave' %}">
                        <img src="{% static 'photos/leave.jpg' %}" alt="Leave">
                        <p class="image-name">LEAVE</p>
                    </a>
                </td>
                <td>
                    <a href="{% url 'sports' %}">
                        <img src="{% static 'photos/sports.jpg' %}" alt="Sports">
                        <p class="image-name">SPORTS</p>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'important_notice' %}">
                        <img src="{% static 'photos/important.jpg' %}" alt="Important">
                        <p class="image-name">IMPORTANT</p>
                    </a>
                </td>
                <td>
                    <a href="{% url 'download' %}">
                        <img src="{% static 'photos/download.jpg' %}" alt="download">
                        <p class="image-name">DOWNLOAD</p>
                    </a>
                </td>
                <td>
                    <a href="{% static 'photos/recycle bin.jpg' %}">
                        <img src="{% static 'photos/recycle bin.jpg' %}" alt="Recycle Bin">
                        <p class="image-name">RECYCLE BIN</p>
                    </a>
                </td>
                <td>
                    <a href="{% url 'session' %}">
                        <img src="{% static 'photos/session.jpg' %}" alt="Session">
                        <p class="image-name">SESSION</p>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% static 'photos/government regulations.jpg' %}">
                        <img src="{% static 'photos/government regulations.jpg' %}" alt="Government Regulations">
                        <p class="image-name">GOVERNMENT REGULATIONS</p>
                    </a>
                </td>
                <td>
                    <a href="{% static 'photos/school.jpg' %}">
                        <img src="{% static 'photos/school.jpg' %}" alt="School">
                        <p class="image-name">SCHOOL</p>
                    </a>
                </td>
                <td>
                    <a href="{% static 'photos/logic details.jpg' %}">
                        <img src="{% static 'photos/logic details.jpg' %}" alt="Logic Details">
                        <p class="image-name">LOGIC DETAILS</p>
                    </a>
                </td>
                <td>
                    <a href="{% url 'bus' %}">
                        <img src="{% static 'photos/bus.jpg' %}" alt="Bus">
                        <p class="image-name">TRANSPORTATION</p>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'hostel' %}">
                        <img src="{% static 'photos/hostel.jpg' %}" alt="Hostel">
                        <p class="image-name">HOSTEL</p>
                    </a>
                </td>
                <td>
                    <a href="{% url 'library' %}">
                        <img src="{% static 'photos/library.jpg' %}" alt="Library">
                        <p class="image-name">LIBRARY</p>
                    </a>
                </td>
                <td>
                    <a href="{% static 'photos/stocks.jpg' %}">
                        <img src="{% static 'photos/stocks.jpg' %}" alt="stocks">
                        <p class="image-name">STOCKS</p>
                    </a>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>