
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt Details</title>
</head>
<body>
<h2>Beacon Public School</h2>
<form method="POST" action="{% url 'submit_receipt' %}">
    {% csrf_token %}
    {{ form.as_p }}
    Receipt Number: <input type="text" placeholder="Enter Receipt Number" name="receiptno" required/><br/>
    Reference Number: <input type="text" placeholder="Enter Refrence Number" name="referenceno" required/><br/>
    Student Name: <input type="text" placeholder="Enter Student Name" name="student" required/><br/>
    Payment Mode Details: <input type="text" placeholder="Enter Payment Mode Details" name="paymentmodedetails" required/><br/>
    Admission No: <input type="text" placeholder="Enter Admission No" name="admissionno" required/><br/>
    Session: <input type="text" placeholder="Enter Session" name="session" required/><br/>
    Class: <input type="text" placeholder="Enter Class" name="Class" required/><br/>
    Date: <input type="text" placeholder="Enter Date" name="date" required pattern="\d{4}-\d{2}-\d{2}" title="Please enter a date in the format YYYY-MM-DD"/><br/>
    Payment Mode: <input type="text" placeholder="Enter Mode of Payment" name="paymentmode" required/><br/>
    Amount: <input type="text" placeholder="Enter Amount" name="amount" required/><br/>
    <input type="submit" value="Insert Record"/>
</form>
<hr/>
</body>
</html>