{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ADMISSION FORM</title>
</head>
<body>
<h1>Admission Form</h1>
<h2>Beacon Public School</h2>
<hr/>
<form method="POST" action="{% url 'Insertrecord' %}">
    {% csrf_token %}
    {{ form.as_p }}
    Session: <input type="text" placeholder="Enter Session" name="session" required/><br/>
    Class: <input type="text" placeholder="Enter Class" name="Class" required/><br/>
    Group: <input type="text" placeholder="Enter Group" name="group" required/><br/>
    Name: <input type="text" placeholder="Enter Name" name="name" required/><br/>
    Sr_No: <input type="text" placeholder="Enter SR_NO" name="sr_no" required/><br/>
    Father Name: <input type="text" placeholder="Enter Father Name" name="fathername" required/><br/>
    Mother Name: <input type="text" placeholder="Enter Mother Name" name="mothername" required/><br/>
    Birth Date: <input type="text" placeholder="Enter Birth Date" name="birthdate" required/><br/>
    Category: <input type="text" placeholder="Enter Category" name="category" required/><br/>
    Gender: <input type="text" placeholder="Enter Gender" name="gender" required/><br/>
    Father Mobile: <input type="text" placeholder="Enter Father Mobile" name="fathermobile" required/><br/>
    Mother Mobile: <input type="text" placeholder="Enter Mother Mobile" name="mothermobile" required/><br/>
    Address: <input type="text" placeholder="Enter Address" name="address" required/><br/>
    <input type="submit" value="Insert Record"/>
</form>
<hr/>
</body>
</html>
